<head>
<style type="text/css">
	body{
		text-align: center;
		font-family: arial,sans-serif;
	}
</style>
</head>

<body>
	<h1>Hello Welcome to Bigio Buddy!</h1>
	<h2>Enter Patient Name and Click Submit to Start Imaging</h2>
	<form action="/result" method=post>
	Patient Name: <input type="text" id ="name" name="name" value="Dylan Samperi">
	<input type="submit" value="Submit">
	</form>
	<p>
	For code documentation please refer to github repository <a href="https://github.com/samperid/Senior_Design">here!</a>
	</p>
</body>